.container {
  position: relative;
  top: -144px;
  z-index: 2;
  width: 99%;

  margin: auto;

  border-top-left-radius: 64px;
  border-top-right-radius: 64px;

  background-color: #f7f6f5;

  padding-block: 200px;
}

.content--container {
  max-width: 1200px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
}
