.nav {
  background-color: #fffdf8;
  overflow-x: hidden;
}

.nav--contents {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  padding-block: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

/* MEDIA QUERIES */
@media (max-width: 1400px) {
  .nav--contents {
    max-width: 1200px;
  }
}

@media (max-width: 1230px) {
  .nav--contents {
    max-width: 97%;
  }
}
